<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
    failOnWarning="false"
    bootstrap="../../lib/phpunit/bootstrap.php"
>

    <testsuites>
        <testsuite name="mod_kialo_testsuite">
            <directory suffix="_test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
