{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kialo/redirect_loading

    Shown to the user while waiting for the LTI redirects to happen, e.g. when opening the activity
    or when deeplinking (Select Discussion button).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * html_title: string, the title of the page
    * loading_text: string, the text displayed on the page

    Example context (json):
    {
        "htmltitle": "Redirecting to Kialo...",
        "loadingtext": "Loading",
        "extrahtml": "<form>...</form>"
    }
}}
<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name=theme-color content=#2c343d>
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <meta name=mobile-web-app-capable content=yes>
    <meta name=referrer content=strict-origin-when-cross-origin>
    <title lang=en>{{ htmltitle }}</title>
    <meta name=robots content=noindex,follow>
    <link rel=icon sizes=16x16 href="/mod/kialo/pix/monologo.png" type=image/png>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class=kialo-loading-text>
    {{{ extrahtml }}}
    <p class=kialo-loading-title>{{ loadingtext }}</p>
    <div id=loading-spinner class="kialo-spinner kialo-spinner--large spinner--prerender">
        <div class="spinner__circle kialo-spinner__circle--1">
            <div class=kialo-spinner__line>
                <div class=kialo-spinner__arc>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--left"></div>
                </div>
                <div class=kialo-spinner__line>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--right"></div>
                </div>
            </div>
        </div>
        <div class="spinner__circle kialo-spinner__circle--2">
            <div class=kialo-spinner__line>
                <div class=kialo-spinner__arc>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--left"></div>
                </div>
                <div class=kialo-spinner__arc>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--right"></div>
                </div>
            </div>
        </div>
        <div class="spinner__circle kialo-spinner__circle--3">
            <div class=kialo-spinner__line>
                <div class=kialo-spinner__line>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--left"></div>
                </div>
                <div class=kialo-spinner__line>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--right"></div>
                </div>
            </div>
        </div>
        <div class="kialo-spinner__circle kialo-spinner__circle--4">
            <div class=kialo-spinner__line>
                <div class=kialo-spinner__line>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--left"></div>
                </div>
                <div class=kialo-spinner__line>
                    <div class="kialo-spinner__arc-inner kialo-spinner__arc-inner--right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
