<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/kevinrob/guzzlecache/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/phpunit/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/testing" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/ddl/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/dml/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/external/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/favourites/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/form/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/filestorage/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/filebrowser/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/files/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/filter/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/admin/roles/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/cohort/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/grade/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/grade/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/grade/grading/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/grade/import/csv/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/analytics/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/availability/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/backup/controller/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/backup/converter/moodle1/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/backup/moodle2/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/backup/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/backup/util" />
        <option value="$PROJECT_DIR$/../moodle/moodle/badges/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/blog/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/customfield/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/iplookup/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/course/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/course/format/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/privacy/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/question/engine/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/question/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/question/type/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/question/engine/upgrade/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/cache/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/calendar/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/enrol/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/group/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/message/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/notes/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/tag/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/rating/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/repository/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/userkey/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/user/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/webservice/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/mnet/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/completion/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/comment/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/search/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/competency/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/my/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/auth/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/blocks/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/login/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/plagiarism/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/portfolio/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/editor/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/rss/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/table/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/h5p/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/xapi/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/contentbank/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/payment/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/reportbuilder/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/admin/presets/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/admin/tests" />
        <option value="$PROJECT_DIR$/tests" />
      </list>
    </option>
  </component>
</project>
