<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/kevinrob/guzzlecache/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/tests" />
      </list>
    </option>
  </component>
</project>