<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/guzzlehttp/kevinrob/guzzlecache/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/../moodle/moodle/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/maxmind/MaxMind/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/php-jwt/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/phpunit/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/testing" />
        <option value="$PROJECT_DIR$/development/moodle/lib/ddl/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/dml/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/external/tests" />
        <option value="$PROJECT_DIR$/development/moodle/favourites/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/form/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/filestorage/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/filebrowser/tests" />
        <option value="$PROJECT_DIR$/development/moodle/files/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/roles/tests" />
        <option value="$PROJECT_DIR$/development/moodle/cohort/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/grade/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/grading/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/import/csv/tests" />
        <option value="$PROJECT_DIR$/development/moodle/analytics/tests" />
        <option value="$PROJECT_DIR$/development/moodle/availability/tests" />
        <option value="$PROJECT_DIR$/development/moodle/backup/controller/tests" />
        <option value="$PROJECT_DIR$/development/moodle/backup/converter/moodle1/tests" />
        <option value="$PROJECT_DIR$/development/moodle/backup/moodle2/tests" />
        <option value="$PROJECT_DIR$/development/moodle/backup/tests" />
        <option value="$PROJECT_DIR$/development/moodle/backup/util" />
        <option value="$PROJECT_DIR$/development/moodle/badges/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blog/tests" />
        <option value="$PROJECT_DIR$/development/moodle/customfield/tests" />
        <option value="$PROJECT_DIR$/development/moodle/iplookup/tests" />
        <option value="$PROJECT_DIR$/development/moodle/course/tests" />
        <option value="$PROJECT_DIR$/development/moodle/course/format/tests" />
        <option value="$PROJECT_DIR$/development/moodle/privacy/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/engine/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/engine/upgrade/tests" />
        <option value="$PROJECT_DIR$/development/moodle/cache/tests" />
        <option value="$PROJECT_DIR$/development/moodle/calendar/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/tests" />
        <option value="$PROJECT_DIR$/development/moodle/group/tests" />
        <option value="$PROJECT_DIR$/development/moodle/message/tests" />
        <option value="$PROJECT_DIR$/development/moodle/notes/tests" />
        <option value="$PROJECT_DIR$/development/moodle/tag/tests" />
        <option value="$PROJECT_DIR$/development/moodle/rating/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/userkey/tests" />
        <option value="$PROJECT_DIR$/development/moodle/user/tests" />
        <option value="$PROJECT_DIR$/development/moodle/webservice/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mnet/tests" />
        <option value="$PROJECT_DIR$/development/moodle/completion/tests" />
        <option value="$PROJECT_DIR$/development/moodle/comment/tests" />
        <option value="$PROJECT_DIR$/development/moodle/search/tests" />
        <option value="$PROJECT_DIR$/development/moodle/competency/tests" />
        <option value="$PROJECT_DIR$/development/moodle/my/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/tests" />
        <option value="$PROJECT_DIR$/development/moodle/login/tests" />
        <option value="$PROJECT_DIR$/development/moodle/plagiarism/tests" />
        <option value="$PROJECT_DIR$/development/moodle/portfolio/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tests" />
        <option value="$PROJECT_DIR$/development/moodle/rss/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/table/tests" />
        <option value="$PROJECT_DIR$/development/moodle/h5p/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/xapi/tests" />
        <option value="$PROJECT_DIR$/development/moodle/contentbank/tests" />
        <option value="$PROJECT_DIR$/development/moodle/payment/tests" />
        <option value="$PROJECT_DIR$/development/moodle/reportbuilder/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/presets/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/antivirus/clamav/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/assign/feedback/comments/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/assign/feedback/editpdf/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/assign/feedback/file/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/assign/submission/comments/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/assign/submission/file/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/assign/submission/onlinetext/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/accessibilitychecker/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/accessibilityhelper/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/align/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/bold/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/charmap/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/clear/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/collapse/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/equation/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/h5p/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/html/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/image/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/indent/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/italic/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/link/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/media/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/orderedlist/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/strike/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/subscript/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/superscript/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/table/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/title/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/underline/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/plugins/unorderedlist/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/db/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/email/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/ldap/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/lti/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/manual/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/mnet/tests" />
        <option value="$PROJECT_DIR$/development/moodle/auth/oauth2/tests" />
        <option value="$PROJECT_DIR$/development/moodle/availability/condition/completion/tests" />
        <option value="$PROJECT_DIR$/development/moodle/availability/condition/date/tests" />
        <option value="$PROJECT_DIR$/development/moodle/availability/condition/grade/tests" />
        <option value="$PROJECT_DIR$/development/moodle/availability/condition/group/tests" />
        <option value="$PROJECT_DIR$/development/moodle/availability/condition/grouping/tests" />
        <option value="$PROJECT_DIR$/development/moodle/availability/condition/profile/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/accessreview/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/activity_modules/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/activity_results/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/admin_bookmarks/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/badges/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/blog_menu/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/blog_recent/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/blog_tags/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/calendar_month/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/calendar_upcoming/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/comments/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/completionstatus/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/course_list/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/course_summary/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/globalsearch/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/glossary_random/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/html/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/login/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/lp/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/mentees/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/mnet_hosts/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/myoverview/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/myprofile/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/navigation/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/news_items/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/online_users/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/private_files/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/recent_activity/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/recentlyaccessedcourses/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/recentlyaccesseditems/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/rss_client/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/search_forums/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/section_links/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/site_main_menu/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/social_activities/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/tag_flickr/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/tag_youtube/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/tags/tests" />
        <option value="$PROJECT_DIR$/development/moodle/blocks/timeline/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/book/tool/exportimscp/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/book/tool/importhtml/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/book/tool/print/tests" />
        <option value="$PROJECT_DIR$/development/moodle/cache/stores/apcu/tests" />
        <option value="$PROJECT_DIR$/development/moodle/cache/stores/file/tests" />
        <option value="$PROJECT_DIR$/development/moodle/cache/stores/redis/tests" />
        <option value="$PROJECT_DIR$/development/moodle/cache/stores/session/tests" />
        <option value="$PROJECT_DIR$/development/moodle/cache/stores/static/tests" />
        <option value="$PROJECT_DIR$/development/moodle/contentbank/contenttype/h5p/tests" />
        <option value="$PROJECT_DIR$/development/moodle/customfield/field/checkbox/tests" />
        <option value="$PROJECT_DIR$/development/moodle/customfield/field/date/tests" />
        <option value="$PROJECT_DIR$/development/moodle/customfield/field/select/tests" />
        <option value="$PROJECT_DIR$/development/moodle/customfield/field/text/tests" />
        <option value="$PROJECT_DIR$/development/moodle/customfield/field/textarea/tests" />
        <option value="$PROJECT_DIR$/development/moodle/dataformat/excel/tests" />
        <option value="$PROJECT_DIR$/development/moodle/dataformat/ods/tests" />
        <option value="$PROJECT_DIR$/development/moodle/dataformat/pdf/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/data/preset/imagegallery/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/data/preset/journal/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/data/preset/proposals/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/data/preset/resources/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/atto/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/textarea/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tiny/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/category/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/cohort/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/database/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/fee/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/flatfile/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/guest/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/imsenterprise/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/ldap/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/lti/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/manual/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/meta/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/paypal/tests" />
        <option value="$PROJECT_DIR$/development/moodle/enrol/self/tests" />
        <option value="$PROJECT_DIR$/development/moodle/files/converter/googledrive/tests" />
        <option value="$PROJECT_DIR$/development/moodle/files/converter/unoconv/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/activitynames/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/algebra/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/data/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/displayh5p/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/emoticon/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/glossary/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/mathjaxloader/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/mediaplugin/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/multilang/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/tex/tests" />
        <option value="$PROJECT_DIR$/development/moodle/filter/urltolink/tests" />
        <option value="$PROJECT_DIR$/development/moodle/course/format/singleactivity/tests" />
        <option value="$PROJECT_DIR$/development/moodle/course/format/social/tests" />
        <option value="$PROJECT_DIR$/development/moodle/course/format/topics/tests" />
        <option value="$PROJECT_DIR$/development/moodle/course/format/weeks/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/forum/report/summary/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/export/ods/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/export/txt/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/export/xls/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/export/xml/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/report/grader/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/report/history/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/report/overview/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/report/singleview/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/report/user/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/grading/form/guide/tests" />
        <option value="$PROJECT_DIR$/development/moodle/grade/grading/form/rubric/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/log/store/database/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/log/store/standard/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/lti/service/gradebookservices/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/lti/service/memberships/tests" />
        <option value="$PROJECT_DIR$/development/moodle/media/player/html5audio/tests" />
        <option value="$PROJECT_DIR$/development/moodle/media/player/html5video/tests" />
        <option value="$PROJECT_DIR$/development/moodle/media/player/videojs/tests" />
        <option value="$PROJECT_DIR$/development/moodle/media/player/vimeo/tests" />
        <option value="$PROJECT_DIR$/development/moodle/media/player/youtube/tests" />
        <option value="$PROJECT_DIR$/development/moodle/message/output/airnotifier/tests" />
        <option value="$PROJECT_DIR$/development/moodle/message/output/email/tests" />
        <option value="$PROJECT_DIR$/development/moodle/message/output/popup/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/mlbackend/python/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mnet/service/enrol/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/assign/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/bigbluebuttonbn/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/book/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/chat/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/choice/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/data/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/feedback/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/folder/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/forum/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/glossary/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/h5pactivity/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/imscp/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/kialo/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/label/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/lesson/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/lti/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/page/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/resource/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/scorm/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/survey/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/url/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/wiki/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/tests" />
        <option value="$PROJECT_DIR$/development/moodle/portfolio/flickr/tests" />
        <option value="$PROJECT_DIR$/development/moodle/portfolio/googledocs/tests" />
        <option value="$PROJECT_DIR$/development/moodle/portfolio/mahara/tests" />
        <option value="$PROJECT_DIR$/development/moodle/user/profile/field/checkbox/tests" />
        <option value="$PROJECT_DIR$/development/moodle/user/profile/field/datetime/tests" />
        <option value="$PROJECT_DIR$/development/moodle/user/profile/field/menu/tests" />
        <option value="$PROJECT_DIR$/development/moodle/user/profile/field/social/tests" />
        <option value="$PROJECT_DIR$/development/moodle/user/profile/field/text/tests" />
        <option value="$PROJECT_DIR$/development/moodle/user/profile/field/textarea/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/bulkmove/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/columnsortorder/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/comment/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/customfields/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/deletequestion/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/editquestion/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/exporttoxml/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/history/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/managecategories/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/previewquestion/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/statistics/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/tagquestion/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/usage/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/viewcreator/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/viewquestionname/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/viewquestiontext/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/bank/viewquestiontype/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/adaptive/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/adaptivenopenalty/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/deferredcbm/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/deferredfeedback/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/immediatecbm/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/immediatefeedback/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/informationitem/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/interactive/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/interactivecountback/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/manualgraded/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/behaviour/missing/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/format/aiken/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/format/blackboard_six/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/format/gift/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/format/missingword/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/format/multianswer/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/format/xml/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/calculated/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/calculatedmulti/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/calculatedsimple/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/ddimageortext/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/ddmarker/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/ddwtos/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/description/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/essay/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/gapselect/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/match/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/missingtype/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/multianswer/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/multichoice/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/numerical/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/random/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/randomsamatch/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/shortanswer/tests" />
        <option value="$PROJECT_DIR$/development/moodle/question/type/truefalse/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/report/grading/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/report/overview/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/report/responses/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/report/statistics/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/delaybetweenattempts/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/ipaddress/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/numattempts/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/offlineattempts/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/openclosedate/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/password/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/seb/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/securewindow/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/quiz/accessrule/timelimit/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/competency/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/completion/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/configlog/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/eventlist/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/insights/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/log/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/loglive/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/outline/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/participation/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/progress/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/questioninstances/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/stats/tests" />
        <option value="$PROJECT_DIR$/development/moodle/report/usersessions/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/contentbank/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/coursefiles/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/dropbox/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/equella/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/filesystem/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/flickr/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/flickr_public/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/googledocs/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/local/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/merlot/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/nextcloud/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/onedrive/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/recent/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/s3/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/upload/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/url/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/user/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/webdav/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/wikimedia/tests" />
        <option value="$PROJECT_DIR$/development/moodle/repository/youtube/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/scorm/report/basic/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/scorm/report/interactions/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/scorm/report/objectives/tests" />
        <option value="$PROJECT_DIR$/development/moodle/search/engine/simpledb/tests" />
        <option value="$PROJECT_DIR$/development/moodle/search/engine/solr/tests" />
        <option value="$PROJECT_DIR$/development/moodle/theme/boost/tests" />
        <option value="$PROJECT_DIR$/development/moodle/theme/classic/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tiny/plugins/accessibilitychecker/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tiny/plugins/autosave/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tiny/plugins/equation/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tiny/plugins/h5p/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tiny/plugins/link/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/editor/tiny/plugins/media/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/admin_presets/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/analytics/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/availabilityconditions/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/behat/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/brickfield/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/capability/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/cohortroles/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/customlang/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/dataprivacy/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/filetypes/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/generator/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/httpsreplace/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/installaddon/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/langimport/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/licensemanager/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/log/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/lp/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/lpimportcsv/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/lpmigrate/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/messageinbound/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/mobile/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/monitor/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/moodlenet/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/oauth2/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/policy/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/recyclebin/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/task/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/templatelibrary/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/uploadcourse/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/uploaduser/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/usertours/tests" />
        <option value="$PROJECT_DIR$/development/moodle/admin/tool/xmldb/tests" />
        <option value="$PROJECT_DIR$/development/moodle/webservice/rest/tests" />
        <option value="$PROJECT_DIR$/development/moodle/webservice/soap/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/allocation/manual/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/allocation/random/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/allocation/scheduled/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/eval/best/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/form/accumulative/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/form/comments/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/form/numerrors/tests" />
        <option value="$PROJECT_DIR$/development/moodle/mod/workshop/form/rubric/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/development/moodle/lib/guzzlehttp/kevinrob/guzzlecache/tests" />
      </list>
    </option>
  </component>
</project>